<header class="header">
    <div>
        <div>
            <a routerLink="" class="logo">
                <img src="./assets/imgs/logo.png" alt="Red Angular logo">
            </a>
        </div>
   
        <button class="toggle">
            <i class="material-icons">
                menu
            </i>
        </button>
    </div>

    <nav class="menu">
        <ul>
            <li>
                <a routerLink="">
                    <i class="material-icons v-middle icon">
                        home
                    </i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a routerLink="products">
                    <i class="material-icons v-middle icon">
                        storefront
                    </i>
                    <span>Products</span>
                </a>
            </li>
        </ul>
    </nav>
</header>